<h2>Log In</h2>

<%= form_tag sessions_path, :class => "form-horizontal" do %>
	<div class="control-group">
		<%= label_tag :email, "E-Mail", :class => "control-label" %>
		<div class="controls">
			<%= text_field_tag :email, params[:email] %>
		</div>
	</div>
	<div class="control-group">
		<%= label_tag :password, "Password", :class => "control-label" %>
		<div class="controls">
			<%= password_field_tag :password %>
		</div>
	</div>
	<div class="control-group">
		<%= submit_tag "Log In", :class => "btn" %>
	</div>
<% end %>
