<h2>Devices</h2>

<table class="table table-striped">
  <tr>
    <th>ID</th>
    <th>Alias</th>
    <th>Display-Name</th>
    <th>Address</th>
    <th>Users</th>
    <th>Contexts</th>
    <th>Actions</th>
  </tr>

<% @devices.each do |device| %>
  <tr>
    <td><%= link_to device.id, device %></td>
    <td><%= device.alias %></td>
    <td><%= device.display_name %></td>
    <td><%= device.address %></td>
    <td>
        <%= render :partial => "deviceusers", :locals => { :device => device } %>
    </td>
    <td>
        <%= render :partial => "devicecontexts", :locals => { :device => device } %>
    </td>
    
    <td><a href="http://<%= $currentDomain %>/api/<%= $currentVersion %>/devices/<%= device.id %>?access_token=<%= if defined?(current_consumer.access_token) then current_consumer.access_token end %>" class="btn btn-mini">API</a>
        <%= link_to 'Edit', edit_device_path(device), :class => 'btn btn-mini' %>
    <%= link_to 'Delete', device, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Device', new_device_path, :class => 'btn btn-primary' %>
