<h2>Users</h2>

<table class="table table-striped">
  <tr>
    <th>ID</th>
    <th>Alias</th>
    <th>Username</th>
    <th>E-Mail</th>
    <th>MMI Face</th>
    <th>MMI Voice</th>
    <th>Devices</th>
    <th>Contexts</th>
    <th>Actions</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.id, user %></td>
    <td><%= user.alias %></td>
    <td><%= user.username %></td>
    <td><%= user.email %></td>
    <td><%= user.mmi_face %></td>
    <td><%= user.mmi_voice %></td>
    <td>
        <%= render :partial => "userdevices", :locals => { :user => user } %>
    </td>
    <td>
        <%= render :partial => "usercontexts", :locals => { :user => user } %>
    </td>
    <td><%= link_to "API", api_v3_user_path(user, :access_token => if defined?(current_consumer.access_token) then current_consumer.access_token end), :class => 'btn btn-mini' %>
        <%= link_to 'Edit', edit_user_path(user), :class => 'btn btn-mini' %> 
        <%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %> 
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path, :class => 'btn btn-primary' %>
