<h2>Details of User #<%= @user.id %></h2>

<p id="notice"><%= notice %></p>

<p>
  <b>Alias:</b>
  <%= @user.alias %>
</p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>UUID:</b>
  <%= @user.uuid %>
</p>

<p>
  <b>Password:</b>
  <%= @user.password %>
</p>

<p>
  <b>PIN:</b>
  <%= @user.pin %>
</p>

<p>
  <b>Birthday:</b>
  <%= @user.birthday %>
</p>

<p>
  <b>Gender:</b>
  <%= @user.gender %>
</p>

<p>
  <b>E-Mail:</b>
  <%= @user.email %>
</p>

<p>
  <b>MMI Face:</b>
  <%= @user.mmi_face %>
</p>

<p>
  <b>MMI Voice:</b>
  <%= @user.mmi_voice %>
</p>

<p>
  <b>Devices:</b>
  <%= render :partial => "userdevices", :locals => { :user => @user } %>
</p>

<p>
  <b>Contexts:</b>
  <%= render :partial => "usercontexts", :locals => { :user => @user } %>
</p>

<p>
  <b><em>Created by:</em></b>
  <em><%= @user.created_by %></em>
</p>

<p>
  <b>Avatar URL:</b>
  <%= if @user.avatar != nil then @user.avatar else "http://www.wpclipart.com/people/faces/anonymous/photo_not_available_large.png" end %><br />
  <img src="<%= if @user.avatar != nil then @user.avatar else  "http://www.wpclipart.com/people/faces/anonymous/photo_not_available_large.png" end %>" />
</p>

<div class="form-actions">
  <%= link_to 'Edit', edit_user_path(@user), :class => 'btn'  %>
  <%= link_to 'Back', users_path, :class => 'btn'  %>
</div>
