<h2>Welcome</h2>

<p>Welcome to the <a href="http://www.hbb-next.eu">HBB-Next</a> Identity Management solution implemented by <a href="http://www.telekom.sk">Slovak Telekom</a>.</p>

<p>Please feel free to browse the resources at the top of this page.</p>

<p>The project provides the following information:
	<ul>
		<li><%= link_to 'API access', swagger_index_url %></li>
		<li>Swagger resource description</li>
		<ul>
			<li><%= link_to 'Resources', api_v3_resources_url %></li>
			<li><%= link_to 'Users', api_v3_resources_users_url %></li>
			<li><%= link_to 'Devices', api_v3_resources_devices_url %></li>
			<li><%= link_to 'Contexts', api_v3_resources_contexts_url %></li>
		</ul>
		<li><%= link_to 'Wiki', wiki_index_url %></li>
	</ul>
</p>

<p>In case of questions, problems, or ideas please contact:
	<address>
		<strong>Sebastian Schumann</strong><br />
		<i class="icon-envelope"></i>&nbsp<a href="mailto:seb.schumann@gmail.com">seb.schumann@gmail.com</a><br />
		<i class="icon-phone-sign"></i>&nbsp;+421&nbsp;903&nbsp;419&nbsp;345
	</address>
</p>
