<h2>Details of Context #<%= @context.id %></h2>

<p id="notice"><%= notice %></p>

<p>
  <b>Active Users*:</b>
  <%= render :partial => 'activeusers', :locals => { :context => @context } %>
</p>

<p>
  <b>Active Devices*:</b>
  <%= render :partial => 'activedevices', :locals => { :context => @context } %>
</p>

<p>
  <b>Active UDRs*:</b>
  <%= render :partial => 'activeudrs', :locals => { :context => @context } %>
</p>

<div class="form-actions">
<%= link_to 'Edit', edit_context_path(@context), :class => 'btn' %>
<%= link_to 'Back', contexts_path, :class => 'btn' %>
</div>
