<h2>Contexts</h2>

<table>
  <tr>
    <th>ID</th>
    <th>Alias</th>
    <th>Display name</th>
    <th>UUID</th>
    <th>Users</th>
    <th>Devices</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contexts.each do |context| %>
  <tr>
    <td><%= context.id %></td>
    <td><%= context.alias %></td>
    <td><%= context.display_name %></td>
    <td><%= context.uuid %></td>
    <td>
      <%= render :partial => "contextusers", :locals => { :context => context } %>
    </td>
    <td>
      <%= render :partial => "contextdevices", :locals => { :context => context } %>
    </td>
    <td><%= link_to 'Show', context %></td>
    <td><%= link_to 'Edit', edit_context_path(context) %></td>
    <td><%= link_to 'Destroy', context, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><a href="http://<%= $currentDomain %>/api/<%= $currentVersion %>/contexts/<%= context.id %>?access_token=<%= if defined?(current_consumer.access_token) then current_consumer.access_token end %>">API</a></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Context', new_context_path %>
