<h1>Listing contexts</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Alias</th>
    <th>Display name</th>
    <th>Users</th>
    <th>Devices</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contexts.each do |context| %>
  <tr>
    <td><%= context.id %></td>
    <td><%= context.alias %></td>
    <td><%= context.display_name %></td>
    <td><%= context.udr_ids %></td>
    <td><%= context.udr_ids %></td>
    <td><%= link_to 'Show', context %></td>
    <td><%= link_to 'Edit', edit_context_path(context) %></td>
    <td><%= link_to 'Destroy', context, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Context', new_context_path %>
