<h2>Contexts</h2>

<table class="table table-striped">
  <tr>
    <th>ID</th>
    <th>Alias</th>
    <th>Display-Name</th>
    <th>Users</th>
    <th>Devices</th>
    <th>Active</th>
    <th>Actions</th>
  </tr>

<% @contexts.each do |context| %>
  <tr>
    <td><%= link_to context.id, context %></td>
    <td><%= context.alias %></td>
    <td><%= context.display_name %></td>
    <td>
      <%= render :partial => "contextusers", :locals => { :context => context } %>
    </td>
    <td>
      <%= render :partial => "contextdevices", :locals => { :context => context } %>
    </td>
    <td>
      <%= link_to 'U', contexts_path, :class => 'btn btn-mini' %>
      <%= link_to 'D', contexts_path, :class => 'btn btn-mini' %>
      <%= link_to 'UDR', contexts_path, :class => 'btn btn-mini' %>
    </td>
    <td><a href="http://<%= $currentDomain %>/api/<%= $currentVersion %>/contexts/<%= context.id %>?access_token=<%= if defined?(current_consumer.access_token) then current_consumer.access_token end %>" class="btn btn-mini">API</a>
      <%= link_to 'Edit', edit_context_path(context), :class => 'btn btn-mini' %>
      <%= link_to 'Delete', context, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Context', new_context_path, :class => 'btn btn-primary' %>
