<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#"><%= image_tag("hbbnext.png", :alt => "HBB-Next logo", :size => "52x20") %> IdM</a>
      <div class="nav-collapse">
        <ul class="nav">
          <%= nav_link 'Home', root_path %>
          <%= nav_link 'Users', users_path %>
          <%= nav_link 'Devices', devices_path %>
          <%= nav_link 'Contexts', contexts_path %>
        </ul>
      </div>
      <a class="navbar-search pull-right" href="http://www.telekom.sk"><%= image_tag("st.jpg", :alt => "ST", :size => "84x27") %></a>
    </div>
  </div>
</div>