<!DOCTYPE html>
<html>
<head>
  <title>HBB-Next Identity Management</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <link href="/favicon.ico" rel="icon" type="image/x-icon" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

	<%= render "layouts/navigation" %>

	<div class="container">
		<div class="row">
			<div class="span7">
				<h1>HBB-Next Identity Management</h1>
			</div>
			<div class="span5">
				<% if current_consumer %>
					<p class="alert alert-success">
						Logged in as <%= current_consumer.email %><br />
						Access token: <%= current_consumer.access_token %><br />
						<%= link_to "Log Out", logout_path %>
					</p>
				<% else %>
					<p class="alert alert-info">
						<%= link_to "Sign up", signup_path %>  and <%= link_to "log In", login_path %> to edit and delete resources and use the API.
					</p>
				<% end %>
			</div>
		</div>
	
		<%= yield %>
		
		<%= render "layouts/footer" %>
	
	</div>
	
</body>
</html>
