<!DOCTYPE html>
<html>
<head>
  <title>Idm - HBB-Next</title>
  <link href="/favicon.ico" rel="icon" type="image/x-icon" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= image_tag("hbbnext.png", :alt => "HBB-Next logo") %>
	<h1>HBB-Next Identity Management</h1>
	  <% if current_consumer %>
	    Logged in as <%= current_consumer.email %>.
	    <%= link_to "Log Out", session_path("current"), method: "delete" %>
	  <% else %>
	    <%= link_to "Sign Up", new_consumer_path %> or
	    <%= link_to "Log In", new_session_path %>
	  <% end %>

	<%= render "layouts/navigation" %>

	<%= yield %>

	<%= render "layouts/footer" %>
	</body>
</html>
